body {
    background-color:
        #F4F5F6;
    font-family: sans-serif;

}

* {
    margin: 0;
    padding: 0;
}




.container {
    width: 1230px;
    margin: auto;
}

.row {
    display: flex;

    &--sb {
        justify-content: space-between;
    }

    &--ai {
        align-items: center;
    }
}

.header {
    align-items: center;
    height: 52px;
}

.top {

    background-image: url('../svgs/creative-bg.svg');
    background-size: 788px 600px;
    background-repeat: no-repeat;
    background-position: right top;
    padding-top: 20px;

}

.logo {
    width: 15%;

}

.navbar {
    width: 45%;

    &__list {
        display: flex;
        list-style: none;
        gap: 40px;

        &__item :hover {
            color: #FF5A30;
        }

        &__link.active {
            color: #FF5A30;
        }

        a {
            font-size: 16px;
            font-weight: 700;
            line-height: 25.6px;
            text-decoration: none;
            color: #424551;
            font-family: sans-serif;
        }
    }
}

.contact {
    display: flex;
    gap: 36px;

    .cta {
        display: flex;
        gap: 12px;

        &__info {
            b {
                color: #424551;
                font-size: 14px;
                line-height: 21px;
                font-weight: bold;
            }

            p {
                font-size: 18px;
                line-height: 27px;
                font-weight: 400;
            }
        }
    }
}

.breadcrumbs {

    ul {
        list-style: none;
        display: flex;
        gap: 8px;

        li {
            color: #424551;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            font-family: sans-serif;
        }

        .li-2 {
            color: #9A9CA5;
        }
    }
}

.hero-banner {
    padding-top: 100px;
    padding-bottom: 115px;

    &__title {

        width: 600px;
        height: 188px;
        margin-top: 40px;

        b {
            color: #1E212C;
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 72px;
            font-weight: 700;
            line-height: 93.6px;
            letter-spacing: 1px;
        }
    }

    &__info {
        width: 600px;
        height: 60px;
        margin-top: 35px;

        p {
            color: #787A80;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
        }
    }
}

.ce-5 {

    h2 {
        text-align: center;
        font-size: 47px;
        font-weight: 700;
        line-height: 59.8px;
        color: #1E212C;
    }

}

.tab {
    padding-top: 40px;
}

/* Style the buttons inside the tab */
.tab button {
    width: 201px;
    height: 46px;
    border: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    color:
        #9A9CA5;
}

/* Change background color of buttons on hover */
.tab button:hover {}

/* Create an active/current tablink class */
.tab button.active {
    border: 1px solid #FF5A30;
    color: #FF5A30;
    border-radius: 4px;

}

/* Style the tab content */
.tabcontent {
    display: none;
    position: relative;
}

.client-comment {
    position: absolute;
    left: 700px;
    top: 450px;
    width: 544px;
    height: 236px;
    background-color: #fff;
}

.client-comment-2 {
    position: absolute;
    left: 15%;
    top: 20%;
    width: 448px;
    height: 156px;

    .p-1 {
        display: inline;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color:
            #1E212C;
    }

    .p-2 {}

    .comment {
        display: flex;
        width: 343px;
        height: 72px;
        gap: 20px;
        align-items: center;
        margin-top: 20px;

        &__info {
            b {
                font-size: 16px;
                font-weight: 700;
                line-height: 25.6px;
                color:
                    #1E212C;
            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                color:
                    #787A80;
            }

        }

    }
}